    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: 'Poppins', sans-serif;
        background-color: #f9fafb;
        color: #333;
      }

      /* Conteneur principal */
      .container {
        max-width: 1200px;
        margin: 100px auto 0 auto; /* ⇦ décale le contenu sous la navbar */
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      .reveal-text {
        color: #262d4c;
        font-size: 45px;
        line-height: 58px;
        word-wrap: break-word;
        max-width: 900px;
      }
      .reveal-text .bold {
        font-weight: 700;
      }


      .sous-titre {
        width: 1138px; 
        height: 352px; 
        text-align: center; 
        color: #676767; 
        font-size: 20px; 
        font-family: Poppins; 
        font-weight: 300; 
        line-height: 28px;
        word-wrap: break-word;
        margin-top: 50px;
      }

.hero-section {
    background-color: var(--color-bg-light);
    padding: 60px 0 100px;
    margin-top: -20%;
}


.hero-top {
  width: 100%;
  max-width: 1200px; /* même valeur que ton container interne */
  margin: 0 auto 40px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroo-icon {
    width: 168px;
    height: 168px;
    background-color: var(--color-primary); /* gris léger */
    border-radius: 50%;        /* forme le cercle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;           /* taille icône */
    color: #333;               /* couleur de l’icône */
}

.hero-badge {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.icon-box {
  width: 73px;
  height: 73px;
  background: #bdbfe2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 48px;
  height: 48px;
}

.badge-text h1 {
  font-size: 32px;
  color: var(--primary-color);
  margin: 0;
}

.rating-block {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--primary-color);
}

.hero-content {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.hero-image {
  flex: 1;
  background: #d9d9d9;
  border-radius: 44px;
  overflow: hidden;
  margin-top: 5%;

}


.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  flex: 1;
  color: #919ca2;
  line-height: 1.6;
}

.hero-text h2 {
  font-size: 28px;
  color: #566163;
  margin-top: 0;
}

@media (max-width: 768px) {
  .hero-content { flex-direction: column; }
}

/* CSS for section section:Expertise */
#expertise-section {
  padding: 60px 0;
  margin-top: -10%;
}

.expertise-grid {
  display: flex;
  gap: 60px;
}

.expertise-left {
  flex: 1;
}

.expertise-left h2 {
  font-size: 42px;
  color: #919ca2;
  margin-top: 0;
  line-height: 1.2;
}

.expertise-left p {
  color: #919ca2;
  line-height: 1.6;
  margin-top: -10%;

}

.expertise-right {
  flex: 1;

}

.expertise-right h3 {
  font-size: 24px;
  color: var(--text-dark);
  margin-top: 0;
  margin-bottom: 30px;
}

.expertise-right p {
  color: #919ca2;
  line-height: 1.6;
  margin-top: -10%;

}

.expertise-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.check-icon {
  flex-shrink: 0;
  width: 20px;
  margin-top: 5px;
}

.item-text {
  font-size: 14px;
  color: var(--text-dark);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .expertise-grid { flex-direction: column; }
}

/* CSS for section section:Pricing */
#pricing-section {
  padding: 60px 0;
    margin-top: -10%;

}

.section-title{
    margin-bottom: 2%;

}

.section-subtitle{
    margin-bottom: 3%;

}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 par ligne */
  gap: 30px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: var(--color-secondary);
      color: white;
      padding: 10px 24px;
      border-radius: 24px;
      border: none;
      cursor: pointer;
      font-weight: 500;
      width: 151px;
      height: 38px ;
      font-size: 13px;

}

.btn-primary:hover {
  opacity: 0.9;
}

.pricing-card {
  flex: 1;
  min-width: 300px;
  max-width: 405px;
  border-radius: 43px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
}

.card-blue { background-color: rgba(214, 219, 233, 0.4); }
.card-yellow { background-color: rgba(249, 246, 233, 0.8); }
.card-green { background-color: rgba(218, 230, 216, 0.4); }

.card-header {
  margin-bottom: 20px;
}


.card-header h3 {
  font-size: 20px;
  color: var(--primary-color);
  margin: 0 0 5px 0;
}

.price {
  font-weight: 700;
  color: var(--primary-color);
}

.included {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--color-secondary);
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--text-dark);
}

.card-footer {
  margin-top: auto;
  padding-top: 20px;
}

/* CSS for section section:Process */
#process-section {
  padding: 80px 0;
    margin-top: -10%;

}

.process-steps {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;

}

.section-title-pricing{
    margin-bottom: 1%;

}

.step {
  flex: 1;
  min-width: 220px;
}

.step-icon {
  margin-bottom: 20px;
}

.step-text {
  font-size: 14px;
  color: var(--text-dark);
  line-height: 1.5;
  max-width: 260px;
  margin: 0 auto;
}

/* CSS for section section:Testimonials */
.partners-section {
    padding: 100px 0;
    position: relative;
    margin-top: -10%;
}

.partners-section .container {
    background: linear-gradient(
        to right,
        rgba(18, 80, 239, 0.5) 0%,
        rgba(18, 80, 239, 0) 70%,
        rgba(248, 202, 69, 0.12) 100%
    );
    border-radius: 30px;
    padding: 60px;
    width: 90%;
    margin: 40px auto;
    color: var(--color-text-dark);
    position: relative;
}
.partners-title {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: var(--color-text-dark);
    margin-bottom: 50px;
}

.partners-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    color: var(--color-text-dark);
    line-height: 1.5;
    max-width: 1030px;
    margin: 0 auto 80px;
}

.partners-subtitle strong {
    font-weight: 700;
}
.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 13px;
    margin-bottom: 80px;
}

.partner-logo-card {
    background-color: var(--color-white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 156px;
    padding: 20px;
    box-sizing: border-box;
    min-width: 150px; /* ou la largeur que tu veux */
    margin-right: 15px; /* espace entre les logos */
}

.partner-logo-card.shadow {
    box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);
}

.partner-logo-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* CSS for Testimonial */
.ellipse3 {
    width: 596px;
    height: 596px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    filter: blur(194px);
    pointer-events: none;
}

.testimonial-card {

    background-color: var(--color-white);
    border-radius: 49px;
    padding: 66px 80px;
    max-width: 1232px;
    margin: 0 auto;
}

.testimonial-heading {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: var(--color-text-dark);
    opacity: 0.5;
    margin-bottom: 66px;
}

.testimonial-content {
    display: flex;
    align-items: center;
    gap: 94px;
}

.testimonial-image-container {
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 242px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.testimonial-image-container img {
    width: 143px;
    height: 143px;
}

.testimonial-text blockquote {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    color: var(--color-text-dark);
    margin: 0 0 20px 0;
    max-width: 615px;
}


.carousel-container {
  max-width: 960px; /* ≈ 3 cartes + marges */
  margin: auto;
  overflow: hidden; /* CACHE la 4ème */
  position: relative;
    margin-bottom: 40px; /* espace sous le carousel */

}


/* ----- LA ZONE QUI SCROLLE ----- */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome */
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 35px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  z-index: 10;
}

.carousel-btn:hover {
  background: #f3f3f3;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (max-width: 1024px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .catalog-grid {
    grid-template-columns: 1fr;
  }
}