 <body>
   <section id="hero" class="hero-section">
        <div class="container hero-container">           
            
            <div class="hero-form-wrapper">
                <form class="hero-form">
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" [(ngModel)]="user.Username" name="username">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" [(ngModel)]="user.Password" name="password">
                </div>

                <div class="button-container">
                    <button type="button" class="btn btn-primary" (click)="login()">Sign in</button>
                    <button type="button" class="btn btn-cancel">Cancel</button>
                    <br>
                    <a href="register">Créer un compte!</a>
                </div>
                </form>


            </div>
        </div>
    </section>
</body>    