
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f9fafb;
      color: #333;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }

  

.site-footer-section {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-top: 80px;
  }
  .footer-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding-bottom: 60px;
  }
  .footer-col {
    font-size: 14px;
    line-height: 40px;
  }
  .footer-title {
    font-size: 20.5px;
    font-weight: 400;
    margin: 0 0 20px;
  }
  .footer-col ul li a {
    color: #9d9cda;
    font-weight: 300;
    transition: color 0.3s;
  }
  .footer-col ul li a:hover {
    color: var(--color-white);
  }
  .footer-col-contact p {
    font-size: 13px;
    line-height: 19.5px;
    color: #9d9cda;
    margin: 0 0 20px;
  }
  .map-widget {
    border-radius: 15px;
    overflow: hidden;
    width: 311px;
    height: 311px;

  }
  .newsletter-form {
    position: relative;
    height: 35px;
    margin-bottom: 20px;
  }
  .newsletter-form input {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: none;
    padding: 0 120px 0 20px;
    background-color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .newsletter-form button {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    border-radius: 100px;
    padding: 0 15px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
  }
  .footer-contact-info {
    margin-bottom: 20px;
  }
  .footer-contact-info p {
    margin: 0;
    line-height: 20px;
  }
  .footer-socials {
    display: flex;
    gap: 15px;
  }
  .footer-socials a img {
    width: 34px;
    height: 34px;
  }
  .footer-bottom {
    border-top: 1px solid #9d9cda;
    padding: 20px 0;
  }
  .footer-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo img {
    width: 119px;
  }
  .copyright {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: var(--color-white);
  }
  .copyright .font-bold {
    font-weight: 700;
  }
  @media (max-width: 1200px) {
    .footer-main {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  @media (max-width: 768px) {
    .footer-bottom-container {
      flex-direction: column;
      gap: 20px;
    }
  }